#container-right {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #176fd7;
}

#label-content {
    z-index: 1;
    width: 100%;
}

#label-classic,
#label-blue {
    border-radius: 5px;
    padding: 2px;
}

#label-classic {
    margin-right: 20px;
}

#label-background {
    background-image: url(/SVG/label-color/label-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 630px;
    height: 550px;
    z-index: 1;
    margin: auto;
}

#chyase-label {
    display: inline-flex;
    bottom: 7vh;
    right: 60vh;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(254, 254, 255);
    cursor: pointer;
}

#sending {
    font-size: 12px;
    display: inline-flex;
    text-align: center;
    bottom: 7vh;
    right: 20vh;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(254, 254, 255);
    cursor: pointer;
}

#bar {
    border-radius: 5px;
}

#сhoice-printer-block-auto,
#сhoice-printer-block-manual,
#row-block-print {
    display: flex;
    text-align: center;
    justify-content: center;
}

#button-printer,
#text-printer {
    display: block;
}

#text-printer {
    margin-right: 20%;
}

#text-printer-1,
#text-printer-2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: block;
    align-items: center;
    padding: 0;
    margin: 0;
    margin: auto;
    cursor: context-menu;
}

#text-printer-1 {
    bottom: 13vh;
    right: 45vh;
}

#text-printer-2 {
    right: 3vh;
    bottom: 13vh;
}

.butoon-print-label {
    display: inline-flex;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
}

.red-pounter {
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    font-size: 15px;
}

.grey-pointer {
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
    background-color: rgb(161, 168, 168);
    border-radius: 5px;
    font-size: 15px;
}