@media screen and (max-width:1350px) {
    #label {
        width: 580px;
        height: 500px;
    }

    #content-left {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #numbar-of-tags {
        margin-top: 50px;
    }

    #chyase-label {
        margin-top: 20px;
    }

    #sending {
        margin-top: 20px;
    }

    body {
        overflow: auto;
    }
}

@media screen and (max-width:1170px) {
    #label {
        width: 500px;
        height: 420px;
    }

    #content-left {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width:1000px) {
    #row {
        grid-template-columns: repeat(1, 1fr);
    }

    #label {
        width: 632.5px;
        height: 620px;
    }

    #label-content {
        height: 950px;
    }

    #content-left {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    #addHistory-text {
        height: 30px;
    }

    #addHistory {
        height: 150px;
    }

    #settings-history {
        height: 150px;
    }
}

@media screen and (max-height:700px) {
    #row {
        grid-template-columns: repeat(1, 1fr);
    }

    body {
        overflow: auto;
    }

    #container-right {
        height: 800px;
    }
}

@media screen and (max-height:870px) {
    body {
        overflow: auto;
    }
}

@media screen and (max-height:885px) {
    body {
        overflow: auto;
    }
}